av
eventlet
flask
flask-socketio
gradio
librosa
matplotlib
numpy
pandas
scikit-learn
scipy
seaborn
sounddevice
soundfile
streamlit
streamlit-autorefresh
streamlit-webrtc
torch
torchaudio
